anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
contourpy
crispy-bootstrap5
cycler
debugpy
decorator
defusedxml
distlib
Django
django-crispy-forms
EasyProcess
entrypoint2
executing
fastjsonschema
filelock
fonttools
fqdn
idna
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
MouseInfo
mss
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-contrib-python
opencv-python
orjson
overrides
packaging
pandocfilters
parso
Pillow
pipenv
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
pyscreenshot
PyScreeze
pytesseract
python-dateutil
python-json-logger
pytweening
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
setuptools
six
sniffio
soupsieve
sqlparse
stack-data
terminado
tinycss2
tornado
traitlets
types-python-dateutil
tzdata
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension